/*
Color Palette: https://colorhunt.co/palette/92c7cfaad7d9fbf9f1e5e1da
*/
body {
  font-family: 'Roboto', sans-serif;
  margin: 20px;
  background-color: #e5e1da; /* Fondo principal */
  color: #252a34; /* Texto oscuro */
}

input,
button {
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  background-color: #fbf9f1; /* Color de fondo para input y button */
  color: #252a34; /* Texto oscuro para input y button */
  border: 1px solid #aad7d9; /* Borde para separar del fondo */
  border-radius: 5px;
}

button:hover {
  background-color: #92c7cf; /* Cambia el color al pasar el ratón */
}

ul {
  padding: 0;
}

li {
  list-style: none;
  margin-bottom: 5px;
}

.navbar {
  overflow: hidden;
  /*background-color: #AAD7D9;  Color de fondo para la barra de navegación */
  text-align: center; /* Centrar el texto en el navbar */
}

.navbar a {
  display: inline-block; /* Convertir a elementos de bloque en línea para centrar */
  color: #252a34; /* Texto oscuro en el navbar */
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: #92c7cf; /* Fondo para los enlaces en el navbar */
  border-radius: 5px;
  margin: 0 5px; /* Añadido margen a cada lado para separar los enlaces */
}

.navbar a:hover {
  background-color: #fbf9f1; /* Cambia el color al pasar el ratón */
  color: #252a34; /* Cambia el texto al pasar el ratón */
}
